.tree {
	padding: 15px 20px 15px 5px;
	background-color: #20232d;
	color: #9da0a9;
	font-size: 20px;
}

.child {
	padding: 0.3em;
}
.row > .conector {
	background-color: #9da0a9;
	width: 1px;
	height: auto;
}

.children {
	transition: all 1s ease-in-out;
	max-height: 0px;
	opacity: 0;
}

.childrenExpend {
	transition: all 2s ease-in-out;
	max-height: 500px;
	opacity: 1;
}

.pointer {
	cursor: pointer;
}

.shape {
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.rotate {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.expandable {
	transition: all 1s ease-in-out;

	padding: 0.5em 0em;
}

.expandableClose {
	transition: all 1s ease-in-out;

	padding: 0em 0em;
}

.headerBG {
	background-color: #20232d !important;
}

.txt1 {
	color: #9da0a9;
}

.AddFolderPanel {
	float: left;
}

.custom-btn {
	background-color: #20232d;
	border-style: solid;
	border-color: #9da0a9;
	color: #9da0a9;
}

.custom-btn:hover {
	background-color: #9da0a9;
	border-style: solid;
	border-color: #9da0a9;
	color: #20232d;
}
